.m-quote{
    padding:80px 0 0;
    background-color: $primary-light;
    .text{
        padding:0 16px;
        margin-bottom: 50px ;
        text-align: center;
        .c-section-header{
            margin-bottom: 25px;
        }
    }
}