.m-specialist{
    background-color: $primary-light;
    padding-top:70px;
    margin-bottom: 100px;
    .text{
        margin-bottom: 35px;
        text-align: center;
        .c-section-header{
            margin-bottom: 35px;
        }
    }
    .image{
        display: block;
        margin:0 -16px;
        img{
            display: block;
            margin:0 auto;
        }
    }
}