.m-social{
    background:url('../images/banner-tiktok-insta.png') no-repeat top center/ cover;
    padding-bottom: 0;
    position: relative;
    &::after{
        position: absolute;
        right:0;
        left:0;
        bottom:0;
        height: 30%;
       
        content:"";
        display: block;
        background-color: #000;
    }
    .container{
        position: relative;
        z-index: 1;
    }
    .c-section-header{
        color:#fff;
        margin-bottom:50px;
        img{
            height:30px;
        }
    }

    .items-group{
        display: flex;
        flex-wrap: wrap;
        margin:0 -10px 10px;
        .item{
            padding:0 10px;
            width: 50%;
            margin-bottom:20px;
            img{
                width: 100%;
            }
        }
    }

    .row{
       div[class^="col-"]{
        .social-item{
            margin-bottom: 120px;
            @include custom_min(992px){
                margin-bottom:0;
            }
        }
        &:last-child{
            margin-bottom: 0;
            .social-item{
                margin-bottom: 0;
            }
        }
       }
    }
}